def main() -> None:
    """
    Entry point for the {{project_name}} CLI.

    This function serves as the main entry point for the command-line interface
    of the {{project_name}} project. It prints a welcome message to the user.

    Returns:
        None

    Examples:
        ```
        $ {{project_name}}
        Welcome to the {{project_name}} project
        ```
    """
    print("Welcome to the {{project_name}} project")
